.slider-box{
  display: grid;
  background-color: white;
  place-items: center;
  width: 100%;
  position: relative;
}
.slider-container{
  width: 90%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  border: 7px solid #fff;
  height: 714px;

}

@media screen and (max-width: 600px){
  .slider-container{
    height: 414px;
  }
  
}

.slider-container .drag-overlay{
  position:absolute;
  top: 0px;
  width: 3px;
  height: 100%;
  z-index: 500 !important;
  background-color: white;
}

.drag-overlay .drag-middle{
  position: absolute;
  left: -13.5px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  top: -15px;
  cursor: pointer;

}

.drag-middle i{
  position: absolute;
  top: 50%;
  left: 50%;;
  color: #5e5d5d;
  transform: translate(-50%, -50%) rotate(90deg);
 }



.map-container {
    height: 100%;
    z-index: 10;
    margin-bottom: 10%;
  }
.map{
    width: 100%;
    height: 100%;
    z-index: 10;
}
.image-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.back-button{
  position: absolute;
  right: 10px;
  top: 90px;
  width: 100px;
  height: 50px;
  z-index: 20;
}

.leaflet-control-layers-overlays{
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
}

.legend-data{

  position: absolute;
  bottom: 20px;
  right: 0px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  width: 200px;

  
}

.leaflet-botom {
  z-index: 2000 !important;
}

.popupButton{
  cursor: pointer;
}

span{
  color: black;
}